{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.fullname.label }}<br>
            {{ form.fullname(size=32) }}<br>
        </p>
        <p>
            {{ form.salary.label }}<br>
            {{ form.salary(size=32) }}<br>
        <p>
            {{ form.job.label }}<br>
            {{ form.job(size=32) }}<br>
        </p>
        <p>
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}<br>
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
        </p>
        <p>
            {{ form.telephone.label }}<br>
            {{ form.telephone(size=16) }}<br>
        </p>
        <p>
            {{ form.passport_number.label }}<br>
            {{ form.passport_number(size=10) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock content %}