{% extends "base.html" %}

{% block content %}
    {% if message %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.discount.label }}<br>
            {{ form.discount(size=8) }}<br>
        </p>
            {{ form.start_date.label }}<br>
            {{ form.start_date(size=8) }}<br>
        </p>
        <p>
            {{ form.expiration.label }}<br>
            {{ form.expiration(size=8) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock content %}