{% extends "base.html" %}

{% block content %}
    {% if message %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.total_cost.label }}<br>
            {{ form.total_cost(size=32) }}<br>
        </p>
        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity(size=32) }}<br>
        </p>
        <p>
            {{ form.date.label }}<br>
            {{ form.date(size=8) }}<br>
        </p>
        <p>
            {{ form.product_id.label }}<br>
            {{ form.product_id() }}<br>
        </p>
        <p>
            {{ form.worker_id.label }}<br>
            {{ form.worker_id() }}<br>
        </p>
        <p>
            {{ form.customer_id.label }}<br>
            {{ form.customer_id() }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock content %}