{% extends "base.html" %}

{% block content %}
<input class="form-control" type="text" placeholder="Search..." id="search" onkeyup='tableSearch("search", "table")'>
<table id="table" class="table table-hover">
    <thead>
      <tr>
	      <th>ID <img height="20" src='{{ sort_icon() }}' onclick="sortTableByNums('table', 0, true)"></th>
	      <th>Product ID <img height="20" src='{{ sort_icon() }}' onclick="sortTableByNums('table', 1, false)"></th>
	      <th>Worker ID <img height="20" src='{{ sort_icon() }}' onclick="sortTableByNums('table', 2, false)"></th>
	      <th>Customer ID <img height="20" src='{{ sort_icon() }}' onclick="sortTableByNums('table', 3, false)"></th>
	      <th>Quantity <img height="20" src='{{ sort_icon() }}' onclick="sortTableByNums('table', 4, false)"></th>
	      <th>Date <img height="20" src='{{ sort_icon() }}' onclick="sortTable('table', 5)"></th>
	      <th>Total cost <img height="20" src='{{ sort_icon() }}' onclick="sortTableByNums('table', 6, false)"></th>
      </tr>
  </thead>
  <tbody>
  	{% for producer in producers %}
	  <tr>
	      <td scope="row"><strong>{{ producer.0 }}</strong></td>
	      <td>{{ producer.1 }}</td>
	      <td>{{ producer.2 }}</td>
	      <td>{{ producer.3 }}</td>
	      <td>{{ producer.4 }}</td>
	      <td>{{ producer.5 }}</td>
	      <td>{{ producer.6 }}</td>
	      <td>{{ producer.7 }}</td>
      </tr>
	{% endfor %}
    </tbody>
</table>
{% endblock content %}