{% extends "base.html" %}

{% block content %}
    {% if message %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
        </p>
        <p>
            {{ form.quantity.label }}<br>
            {{ form.quantity(size=32) }}<br>
        </p>
        <p>
            {{ form.price.label }}<br>
            {{ form.price(size=32) }}<br>
        </p>
        <p>
            {{ form.supplier.label }}<br>
            {{ form.supplier() }}<br>
        </p>
        <p>
            {{ form.producer.label }}<br>
            {{ form.producer() }}<br>
        </p>
        <p>
            {{ form.promotion.label }}<br>
            {{ form.promotion(size=10) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock content %}