{% extends "base.html" %}

{% block content %}
    {% if message %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>
        </p>
            {{ form.address.label }}<br>
            {{ form.address(size=32) }}<br>
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
        </p>
        <p>
            {{ form.telephone.label }}<br>
            {{ form.telephone(size=16) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock content %}