{% extends "base.html" %}

{% block content %}
<input class="form-control" type="text" placeholder="Search..." id="search" onkeyup='tableSearch("search", "table")'>
<table id="table" class="table table-hover">
    <thead>
      <tr>
	      <th>ID <img height="20" src='{{ sort_icon() }}' onclick="sortTableByNums('table', 0, true)"></th>
	      <th>Name <img height="20" src='{{ sort_icon() }}' onclick="sortTable('table', 1)"></th>
	      <th>Address <img height="20" src='{{ sort_icon() }}' onclick="sortTable('table', 2)"></th>
	      <th>Email <img height="20" src='{{ sort_icon() }}' onclick="sortTable('table', 3)"></th>
	      <th>Telephone <img height="20" src='{{ sort_icon() }}' onclick="sortTable('table', 4)"></th>
      </tr>
  </thead>
  <tbody>
  	{% for producer in producers %}
	  <tr>
	      <td scope="row"><strong>{{ producer.0 }}</strong></td>
	      <td>{{ producer.1 }}</td>
	      <td>{{ producer.2 }}</td>
	      <td>{{ producer.3 }}</td>
	      <td>{{ producer.4 }}</td>
	      <td>{{ producer.5 }}</td>
      </tr>
	{% endfor %}
    </tbody>
</table>
{% endblock content %}