<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">

  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}"/>

  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Shop database</title>
  {% endif %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal-window.css') }}">

  <script src="{{ url_for('static', filename='js/table.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modal-window.js') }}"></script>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Table</div>
      <div class="list-group list-group-flush">
        <a href="{{ url_for('workers_api') }}" class="list-group-item list-group-item-action bg-light">Workers</a>
        <a href="{{ url_for('suppliers_api') }}" class="list-group-item list-group-item-action bg-light">Suppliers</a>
        <a href="{{ url_for('products_api') }}" class="list-group-item list-group-item-action bg-light">Products</a>
        <a href="{{ url_for('customer_api') }}" class="list-group-item list-group-item-action bg-light">Customers</a>
        <a href="{{ url_for('discount_card_api') }}" class="list-group-item list-group-item-action bg-light">Discount cards</a>
        <a href="{{ url_for('producer_api') }}" class="list-group-item list-group-item-action bg-light">Producers</a>
        <a href="{{ url_for('purchase_api') }}" class="list-group-item list-group-item-action bg-light">Purchases</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <h5>{{ table_name }}</h5>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link">Server: {{ current_user.server }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Database: {{ current_user.dbname }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">User: {{ current_user.username }}</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('login') }}">Logout</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        <br>

        {% for error in get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        {% if message %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>                    
        {% endif %}

        {% block content %}
        {% endblock content %}
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

</body>

</html>
