<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>ShopDB</title>
  {% endif %}

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href={{ url_for('static', filename='css/sidebar.css') }}>
  <link rel="stylesheet" href={{ url_for('static', filename='css/bootstrap.min.css') }}>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href={{ url_for('static', filename='css/simple-sidebar.css') }}>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Action</div>
      <div class="list-group list-group-flush">
        <a href="/{{ link }}/show" class="list-group-item list-group-item-action bg-light">Show all</a>
        <a href="/{{ link }}/add" class="list-group-item list-group-item-action bg-light">Add</a>
        <a href="/{{ link }}/modify" class="list-group-item list-group-item-action bg-light">Modify</a>
        <a href="/{{ link }}/delete" class="list-group-item list-group-item-action bg-light">Delete</a>
      </div>
      <div class="sidebar-heading">Switch table</div>
      <div class="list-group list-group-flush">
        <a href="{{ url_for('workers') }}" class="list-group-item list-group-item-action bg-light">Workers</a>
        <a href="{{ url_for('suppliers') }}" class="list-group-item list-group-item-action bg-light">Suppliers</a>
        <a href="{{ url_for('products') }}" class="list-group-item list-group-item-action bg-light">Products</a>
        <a href="{{ url_for('customers') }}" class="list-group-item list-group-item-action bg-light">Customers</a>
        <a href="{{ url_for('discount_cards') }}" class="list-group-item list-group-item-action bg-light">Discount cards</a>
        <a href="{{ url_for('producers') }}" class="list-group-item list-group-item-action bg-light">Producers</a>
        <a href="{{ url_for('purchases') }}" class="list-group-item list-group-item-action bg-light">Purchases</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <h4>Table: {{ table_name }}</h4>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link">Server: {{ current_user.server }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Database: {{ current_user.dbname }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">User: {{ current_user.username }}</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('login') }}">Logout</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="container-fluid">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock content %}
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

</body>

</html>
