{% extends "base.html" %}

{% block content %}

<button type="button" class="btn btn-outline-secondary btn-sml btn-block js-open-modal" data-modal="add-modal">Add product</button>
<input class="form-control" type="text" placeholder="Search..." id="search" onkeyup='tableSearch("search", "table")'>
<table id="table" class="table table-hover">
    <thead>
      <tr>
      	  <th>Action</th>
	      <th>ID <img src='{{ sort_icon() }}' onclick="sortTableByNums('table', 0, true)"></th>
	      <th>Name <img src='{{ sort_icon() }}' onclick="sortTable('table', 1)"></th>
	      <th>Producer <img src='{{ sort_icon() }}' onclick="sortTable('table', 2)"></th>
	      <th>Quantity <img src='{{ sort_icon() }}' onclick="sortTableByNums('table', 3, false)"></th>
	      <th>Supplier <img src='{{ sort_icon() }}' onclick="sortTable('table', 4)"></th>
	      <th>Price <img src='{{ sort_icon() }}' onclick="sortTableByNums('table', 5, false)"></th>
	      <th>Promotion <img src='{{ sort_icon() }}' onclick="sortTable('table', 6)"></th>
      </tr>
  </thead>
  <tbody>
  	{% for product in products %}
	  <tr id="row_{{ loop.index }}" onmouseover='showImages(`{{ loop.index }}`)' onmouseout='hideImages(`{{ loop.index }}`)'>
	  	<th><img id="del_img_{{ loop.index }}" title="Delete" src="{{ delete_icon() }}" class="js-open-modal" data-modal="delete-modal" onclick='fillDeleteModal("row_{{ loop.index }}")'>     <img id="upd_img_{{ loop.index }}" title="Update" src="{{ update_icon() }}" class="js-open-modal" data-modal="update-modal" onclick='fillUpdateModal("row_{{ loop.index }}")'></th>
	      <td scope="row"><strong>{{ product.0 }}</strong></td>
	      <td>{{ product.1 }}</td>
	      <td>{{ product.2 }}</td>
	      <td>{{ product.3 }}</td>
	      <td>{{ product.4 }}</td>
	      <td>{{ product.5 }}</td>
	      <td>{{ product.6 }}</td>
      </tr>
	{% endfor %}
    </tbody>
</table>

<div class="modal-window" data-modal="add-modal">
   <img class="modal__cross js-modal-close" src='{{ close_icon() }}'>
   <h4>New product</h4>
   <hr class="my hr4">
    <form action="" id="add_form" method="post">
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ form.name(class="form-control") }}<br>
        {{ form.producer.label }}
        {{ form.producer(class="form-control") }}<br>
        {{ form.quantity.label }}
        {{ form.quantity(class="form-control") }}<br>
        {{ form.supplier.label }}
        {{ form.supplier(class="form-control") }}<br>
        {{ form.price.label }}
        {{ form.price(class="form-control") }}<br>
        {{ form.promotion.label }}
        {{ form.promotion(class="form-control") }}<br>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary js-modal-close">Cancel</button>
          {{ form.submit(value="Add", class="btn btn-outline-success") }}
        </div>
    </form>
</div>

<div class="modal-window" data-modal="update-modal">
   <img class="modal__cross js-modal-close" src="{{ close_icon() }}">
   <h4>Update</h4>
   <hr class="my hr4">
    <form action="" method="post">
        <input type="hidden" id="upd_id" name="product_id" value="">
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ form.name(class="form-control") }}<br>
        {{ form.producer.label }}
        {{ form.producer(class="form-control") }}<br>
        {{ form.quantity.label }}
        {{ form.quantity(class="form-control") }}<br>
        {{ form.supplier.label }}
        {{ form.supplier(class="form-control") }}<br>
        {{ form.price.label }}
        {{ form.price(class="form-control") }}<br>
        {{ form.promotion.label }}
        {{ form.promotion(class="form-control") }}<br>
        <div class="modal-footer">
        	<button type="button" class="btn btn-outline-secondary js-modal-close">Cancel</button>
        	{{ form.submit(value="Update", class="btn btn-outline-success") }}
        </div>
    </form>
</div>

<div class="modal-window" data-modal="delete-modal">
   <img class="modal__cross js-modal-close" src="{{ close_icon() }}">
   <h4>Delete</h4>
   <hr class="my hr4">
   <p id='del_info'></p>
   <div class="modal-footer">
    <form action="" method="post">
       <input type="hidden" id="del_id" name="product_id" value="">
	   <button type="button" class="btn btn-outline-secondary js-modal-close">Cancel</button>
       {{ form.submit(value="Delete", class="btn btn-outline-danger") }}
    </form>
   </div>
</div>

<script src="{{ url_for('static', filename='js/products.js') }}"></script>
<script type="text/javascript">
    main();
</script>

{% endblock content %}